<!DOCTYPE html>
<html lang="en">

	<!-- HEAD -->

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
		<meta name="description" content="YahYa Car Rental">
		<meta name="author" content="JAIRI IDRISS">
		<title>Car-Link</title>

		<!-- EXTERNAL STYLE LINKS -->

		<link rel="stylesheet" type="text/css" href="Design/css/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="Design/fonts/css/all.min.css">
		<link rel="stylesheet" type="text/css" href="Design/css/main-style.css">
		<link rel="stylesheet" type="text/css" href="Design/css/responsive.css">

		<!-- GOOGLE FONTS -->

		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
	</head>

	<!-- BODY -->

	<body>

<!-- START NAVBAR SECTION -->
<header  id="header" class="nav-header">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class = "container">
            <a class="navbar-brand" href="#">
                Car<span style = "color:#04DBC0">Link</span>&nbsp;Leasing
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#yahyaNavbar" aria-controls="yahyaNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="yahyaNavbar">
                <ul class="navbar-nav" style = "margin-left: auto!important;">
                    <li class="nav-item active">
                        <a class="nav-link" href="./">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./#brands">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./#reserve">Reserve</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./#contact-us">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Home Section -->
<section class = "home_section">
    <div class="section-header">
        <div class="section-title" style = "font-size:50px; color:white">
            Find Best Vehicles to Lease today!
        </div>
        <hr class="separator">
		<div class="section-tagline">
            From as low as Ksh 1000 get your dream experience with us!
		</div>					
	</div>
</section>

<!-- Our Services Section -->
<section class = "our-services" id = "services">
    <div class = "container">
        <div class="section-header">
            <div class="section-title">
                SERVICES OFFERED TO OUR CUSTOMERS
            </div>
            <hr class="separator">
            <div class="section-tagline">
                We love our customers and so we offer a variety of services.
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <h4>
                        <span>
                            <i class="far fa-user"></i>
                        </span>
                        Free Consultancy
                    </h4>
                    <p>
                        We have in-house consultants who offer free consultancy to customers who want advice on variety of matters related to car leasing.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <h4>
                        <span>
                            <i class="fas fa-search-dollar"></i>
                        </span>
                        No Hidded Fees
                    </h4>
                    <p>
                        Know exactly what you’re paying.You get to pay what is displayed
                        in the website.Cancellation is free up to 48 hours before pick-up.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <h4>
                        <span>
                            <i class="fas fa-phone-alt"></i>
                        </span>
                        Great Support
                    </h4>
                    <p>
                        We have an efficient and active customer support.Our team
                        works round to clock to answer your questions for free!
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <h4>
                        <span>
                            <i class="fas fa-rocket"></i>
                        </span>
                        Casual Leasing
                    </h4>
                    <p>
                        This service is useful for the hirer who would want to travel within and outside your city.
                        It is a reliable way to visit clients and customers when public transport won't do.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <h4>
                        <span>
                            <i class="fas fa-gem"></i>
                        </span>
                        Business Rate
                    </h4>
                    <p>
                        This service is meant for lessee who need the cars to do business or those that are going for tours and need drivers.
                        We can help your business reach customers faster than ever.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <h4>
                        <span>
                            <i class="far fa-comments"></i>
                        </span>
                        Onboarding
                    </h4>
                    <p>
                        There are times we are overwhelmed by the demands of our
                        Therefore, we are forced to look for individuals who have idle cars.We provide a
                        smooth onboarding service.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Area Section -->
<section class = "about-area">
    <div class = "container-fluid">
        <div class = "row">
            <div class = "col-md-6 left-area" style = "padding:0px">
                <img src="Design/images/about-img.jpeg" height="800px" alt="Car Rental Image">
            </div>
            <div class = "col-md-6 right-area" style = "padding:50px">
                <h1>
                    About <br>
                    Car Link
                </h1>
                <p>
                    <span>
                        We are here to listen from you deliver exellence
                    </span>
                </p>
                <p>
                   Car Link is an African success story. Our guiding principles, and humble beginning, 
                    revolve around personal honesty and integrity. We believe in strengthening our communities one neighborhood at a time,
                     serving our customers as if they were our family, and rewarding hard work. These things are as true today as they were 
                     when we were founded in 2019.

                    Today, our massive network means Enterprise is the largest transportation solutions provider. We offer car and truck leaing.
                     We're there when you need us with over 8,000 locations country wide.
                    
                    We take an active role in sustainability, not only because it’s smart for our business, 
                    but because we believe in making the world a better place for future generations. Because of our size, 
                    we are in a unique position to foster innovation, advance research and test market-driven solutions.
                </p>
                <a class="my-btn bttn" href="#">get details</a>
            </div>
        </div>
    </div>
</section>

<!-- Our Brands Section -->
<section class = "our-brands" id = "brands">
    <div class = "container">
        <div class="section-header">
            <div class="section-title">
                First Class Car Rental & Limousine Services
            </div>
            <hr class="separator">
            <div class="section-tagline">
                We offer professional car rental & limousine services in our range of high-end vehicles
            </div>
        </div>
        <!-- <div class = "car-brands">
            <div class = "row">
            <?php

                $stmt = $con->prepare("Select * from car_brands");
                $stmt->execute();
                $car_brands = $stmt->fetchAll();

                foreach($car_brands as $car_brand)
                {
                    $car_brand_img = "admin/Uploads/images/".$car_brand['brand_image'];
                    ?>
                    <div class = "col-md-4">
                        <div class = "car-brand" style = "background-image: url(<?php echo $car_brand_img ?>);">
                            <div class = "brand_name">
                                <h3>
                                    <?php echo $car_brand['brand_name']; ?>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <?php
                }

            ?>
            </div>
        </div> -->
    </div>
</section>

<!-- CAR RESERVATION SECTION -->
<section class="reservation_section" style = "padding:50px 0px" id = "reserve">
	<div class="container">
		<div class = "row">
			<div class = "col-md-5"></div>
			<div class = "col-md-7">
				<form method="POST" action = "reserve.php" class = "car-reservation-form" id = "reservation_form" v-on:submit = "checkForm">
					<div class="text_header">
						<span>
							Find your car
						</span>
					</div>
					<div>
						<div class = "form-group">
							<label for="pickup_location">Pickup Location</label>
							<input type = "text" class = "form-control" name = "pickup_location" placeholder = "USIU Road" v-model = 'pickup_location'>
							<div class="invalid-feedback" style = "display:block" v-if="pickup_location === null">
								Pickup location is required
							</div>
						</div>
						<div class = "form-group">
							<label for="return_location">Return Location</label>
							<input type = "text" class = "form-control" name = "return_location" placeholder = "Mombasa Road" v-model = 'return_location'>
							<div class="invalid-feedback" style = "display:block" v-if="return_location === null">
								Return location is required
							</div>
						</div>
						<div class = "form-group">
							<label for="pickup_date">Pickup Date</label>
							<input type = "date" min = "" name = "pickup_date" class = "form-control" v-model = 'pickup_date'>
							<div class="invalid-feedback" style = "display:block" v-if="pickup_date === null">
								Pickup date is required
							</div>
						</div>
						<div class = "form-group">
							<label for="return_date">Return Date</label>
							<input type = "date" min = "" name = "return_date"  class = "form-control" v-model = 'return_date'>
							<div class="invalid-feedback" style = "display:block" v-if="return_date === null">
								Return date is required
							</div>
						</div>
						<!-- Submit Button -->
						<button type="submit" class="btn sbmt-bttn" name = "reserve_car">Book Instantly</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>



<!-- BOTTOM FOOTER -->
		<!-- Footer Bottom Section -->
		<footer class="footer_section">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="copyright">
							Car-Link ©
							<script type="text/javascript"> 
								document.write(new Date().getFullYear())
							</script>
							All rights reserved 
						</div>
					</div>
					<div class="col-md-6">
						<ul class="footer_link">
							<li><a href="#">About</a></li>
							<li><a href="#">Terms</a></li>
							<li><a href="#">Privacy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<!-- INCLUDE JS SCRIPTS -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="Design/js/jquery.min.js"></script>
		<script src="Design/js/bootstrap-js/bootstrap.min.js"></script>
		<script src="Design/js/bootstrap-js/bootstrap.bundle.min.js"></script>
		<script src="Design/js/main-script.js"></script>

	</body>

	<!-- END BODY TAG -->

</html>

<!-- END HTML TAG -->



